
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Poppins:wght@500&display=swap');


@import "tailwindcss";


@theme{
  --color-primary:#F84565;
  --color-primary-dull:#D63854;

}

*{
   font-family: "Fredoka", sans-serif;
   scrollbar-width: thin;
   scrollbar-color: #787777 #1e1e1e;
}
body{

  color:white;
  background-color: #09090B;

}
.no-scorllbar{
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
 
  -webkit-appearance:none;
}
::-webkit-calendar-picker-indicator{
  filter:invert(1);
}